@{ 
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default">
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Project</td>
                        <td>Supplier</td>
                        <td>Penawaran</td>
                        <td>Accept</td>
                        <td>Destination</td>
                        <td>Kirim Supplier</td>
                        <td>Kirim Customer</td>
                        <td>Keterangan</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Kaos Alola 60pcs</td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td>24 Feb 2017</td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td>24 Feb 2017</td>
                        <td>24 Feb 2017</td>
                        <td>Tunggu Info Harga</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kaos Alola 60pcs 2</td>
                        <td></td>
                        <td>15 Feb 2017</td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td></td>
                        <td>23 Feb 2017</td>
                        <td>02 Nov 2017</td>
                        <td>Tunggu Info Harga Juga</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Kaos Alola 60pcs 3</td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td>24 Mar 2017</td>
                        <td></td>
                        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td>24 Feb 2017</td>
                        <td>24 Sep 2017</td>
                        <td>Test123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
