@{
    ViewBag.Title = "RFQ (Request For Quotation)";
    ViewBag.Description = "List Page";
}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box box-default">
            
        </div>
    </div>
</div>
